<section id="container">
  <div class="background"></div>
  <div class="content-box-wrapper">
    <div class="content-box">

      <div class="box-interest">
        <div class="box-inner-header">
          <p>Your are looking for</p>
        </div>
        <div class="box-inner-body">
          <div (click)="isInterestOnMen=true" (keypress)="interestMaleKeyPress($event)" [ngClass]="(isInterestOnMen)?'interest-select':{backgroundColor: 'yellow'}" class="interest" tabindex="0">
            <div class="interest-img">
              <img
                alt=""
                height="100%" src="https://www.pngitem.com/pimgs/m/4-42408_vector-art-design-men-fashion-vector-art-illustration.png">
            </div>
            <div class="interest-name">
              <h4 class="mat-display-1">MEN</h4>
            </div>
          </div>
          <div (click)="isInterestOnMen=false" (keypress)="interestFemaleKeyPress($event)" [ngClass]="(!isInterestOnMen)?'interest-select': null" class="interest" tabindex="0">
            <div class="interest-img">
              <img alt="" height="100%" src="https://media.istockphoto.com/vectors/portrait-of-a-sad-asian-girl-schoolgirl-avatar-face-of-a-child-vector-id1179590104?b=1&k=6&m=1179590104&s=612x612&h=-vB1Ch2LFGu8iX1QHhCpquRATyunHYRg6ciuIM67Ccs=">
            </div>
            <div class="interest-name">
              <h4 class="mat-display-1">WOMEN</h4>
            </div>
          </div>
        </div>
      </div>


      <div class="box-age-range">
        <div class="box-inner-header">
          <p>Age Range</p>
        </div>
        <div class="box-inner-body">
          <div class="age-input">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Age Range Start</mat-label>
              <input #ageStart matInput min="16" name="startAgeRange" type="number" value="">
              <mat-icon matSuffix>motion_photos_on</mat-icon>
            </mat-form-field>
          </div>
          <div class="age-input">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Age Range End</mat-label>
              <input #ageEnd matInput max="60" min="16" name="startAgeEnd" type="number" value="">
              <mat-icon matSuffix>motion_photos_on</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="btn-continue">
          <button (click)="btnContinueClick()" color="accent" mat-raised-button>Continue to Profile</button>
        </div>
      </div>
    </div>
  </div>

</section>
