.img-loader{
  width: 25px;
  height: 25px;
  background-color: red;
  position: relative;
}



/*-------------------------------------------------------------------*/

.profile-pic-wrapper {
  width: 100%;
  height: 200px;
  /*background-color: red;*/
  display: grid;
  place-content: center;
}

.profile-pic-inner-wrapper {
  width: 120px;
  height: 160px;
  background-color: #fff;
  box-shadow: 0 0 8px 2px #aeaeae;
  border-radius: 10px;
  border: 5px solid white;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.profile-name-wrapper {
  font-size: 30px;
  text-align: center;
}

.divider {
  width: 85%;
  margin: auto;
}

.profile-tab-container {
  min-height: 350px;
}

.mat-tab-label {
  width: 50% !important;
}

.tab-content {
  overflow: auto;
  height: 360px;
  padding: 0 20px;
}


.tab-profile-detail {

}

.profile-bio {
  text-align: center;
  margin: 10px 0;
}

.profile-bio > h1 {
  margin: 0;
  font-weight: bold;
}

.detail-card {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0 30px;
}

.detail-card div {
  display: flex;
  align-items: center;
  height: auto;
}

.detail-card > div > h4 {
  height: max-content;
  margin-bottom: 0;
  width: 100%;
  /*margin: auto;*/
}

.detail-card-key {
  width: 25%;
  min-width: max-content;
  text-align: left;
}

.detail-card-option {
  width: 50%;
  min-width: max-content;
  /*background-color: aqua;*/
}

.detail-card-value {
  width: 25%;
  max-width: 100%;
  min-width: max-content;
  /*background-color: moccasin;*/
  text-align: right;
}


/* ------------------------------------------------------------------------ */ /* Match Content */

.tab-match-content {
  padding: 15px 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.match-card-container {
  /*background-color: #3f51b5;*/
}

.match-card {
  cursor: pointer;
  width: 90%;
  height: 90%;
  margin: auto;

  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  box-shadow: 0 0 5px 0px #aeaeae;

  border-radius: 5px;
  border: 2px solid white;
  position: relative;
}

.match-card-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 95%;
  height: 95%;
  margin: auto;
  border-radius: 3px;
  border: 2px solid white;

  display: grid;
  place-items: center;
  overflow: hidden;
}

.match-card-pic > img {

}
