<section id="header">
  <section class="header-inner">
    <div class="header-logo" routerLink="application/">
      <h1 class="mat-headline">glingler❤</h1>
    </div>
    <div class="header-container">
      <div class="header-btn-container">
        <button class="header-btn" mat-button routerLink="explorer" routerLinkActive="router-active">
          <!--          <i class="fas fa-user-circle"></i>-->
          <i class="fas fa-globe"></i>
        </button>
        <button mat-button class="header-btn" routerLink="feed" routerLinkActive="router-active">
<!--          <i class="fas fa-heart" matBadge="4" matBadgeOverlap="true" [matBadgeColor]="'accent'"></i>-->
          <i class="far fa-heart"></i>
        </button>
        <button mat-button class="header-btn" routerLink="chat" routerLinkActive="router-active">
<!--          <i class="fab fa-facebook-messenger"></i>-->
          <i class="far fa-comment-alt"  matBadge="2" matBadgeColor="accent"></i>
        </button>
        <button (click)="openDialog()" class="header-btn" mat-button>
<!--          <i class="fas fa-star"></i>-->
          <i class="far fa-star"></i>
        </button>
        <button class="header-btn" mat-button routerLink="profile" routerLinkActive="router-active">
<!--          <i class="fas fa-user-circle"></i>-->
          <i class="far fa-user-circle"></i>
        </button>
      </div>
    </div>
    <div class="header-option">
      <div class="header-option-inner">
        <div class="icon-container">
<!--          <i class="fas fa-sun"></i>-->
          <i class="fas fa-moon"></i>
        </div>
        <div class="icon-container" [matMenuTriggerFor]="menu">
          <i class="fas fa-bell"></i>
        </div>
        <div class="icon-container" [mat-menu-trigger-for]="settingsMenu">
          <i class="fas fa-cog"></i>
        </div>

        <mat-menu #settingsMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </section>
</section>
<div [@routeAnimations]="prepareRoute(outlet)" class="router-container">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<section id="footer"></section>

