
.router-active{
  background-color: #f5dafb;
}

#header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 3px 8px #d0d0d0;
  z-index: 10;
  position: relative;
}

.header-inner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.header-logo{
  padding-left: 10px;
  font-size: 35px;
  width: 28%;
  height: 100%;
  display: flex;
  place-items: center;
}

.header-logo>h1{
  margin: 0;
}

.mat-headline{
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #F00592;
}

.header-container {
  height: 100%;
  width: 40%;
}

.header-btn-container{
  display: flex;
  place-items: center;
  height: 100%;
}

.header-btn{
  /*color: #F00592;*/
  width: 120px;
  height: 50px;
  font-size: 30px;
  margin: 10px;
  position: relative;
}

.header-btn > i{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: unset;
}

.header-option{
  width: 35%;
  height: 100%;
  position: relative;
}

.header-option-inner{
  width: 33%;
  height: max-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;

  display: flex;
}

.icon-container{
  min-height: 40px;
  min-width: 40px;
  background-color: #e4e6eb;
  border-radius: 100%;
  margin: 0 2px;
  position: relative;
  cursor: pointer;
  transition: background-color 400ms, color 200ms;
}

.icon-container:hover{
  background-color: #cdcfd4;
  color: black;
}

.icon-container > i{
  color: #474747;
  font-size: 18px;

  width: max-content;
  height: max-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



.router-container{
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
