<section id="container">

  <section class="img-area">
    <img alt="" height="100%" src="../../assets/img/undraw_chasing_love_3v98.svg" width="100%">
  </section>

  <section class="signup-content">

    <article class="sign-header">
      <h1 class="sign-logo mat-display-1">glingler</h1>
      <h4 class="sign-text mat-body">Create a glingler Account</h4>
    </article>

    <mat-divider></mat-divider>

    <form #form=ngForm ngForm>

      <article class="sign-body">
        <div class="profile-pic">
          <p class="pic-header">Upload a profile picture</p>
          <div class="img-wrapper-container">
            <label for="file" class="img-wrapper">
              <i *ngIf="profileImgHide" class="fas fa-upload"></i>
              <img *ngIf="!profileImgHide" src="{{imageUrl}}" alt="" width="100%">
            </label>
            <input type="file" id="file" style="display: none" (change)="fileInputChangeEvent($event)"
                   accept=".png,.jpg" name="">
          </div>
        </div>

        <div class="name-wrapper">


          <mat-form-field appearance="outline" color="accent">
            <mat-label>First Name</mat-label>
            <input matInput name="firstName" ngModel placeholder="">
            <mat-hint *ngIf="false">Hint</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent">
            <mat-label>Last Name</mat-label>
            <input #test=ngModel matInput name="lastName" ngModel placeholder="">
            <mat-hint *ngIf="false">Hint</mat-hint>
          </mat-form-field>


        </div>


        <mat-form-field appearance="outline" color="accent">
          <mat-label>E-mail</mat-label>
          <input matInput name="email" ngModel placeholder="">
          <mat-hint *ngIf="false">Hint</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="outline" color="accent">
          <mat-label>Gender</mat-label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-select name="gender" ngModel>
            <mat-option value="MEN">Male</mat-option>
            <mat-option value="WOMEN">Female</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
          <mat-label>Birthday</mat-label>
          <input [matDatepicker]="picker" matInput name="birthday" ngModel>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="minDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
          <mat-label>Enter your password</mat-label>
          <input [type]="passwordHide ? 'password' : 'text'" matInput name="password" ngModel>
          <button (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="passwordHide" mat-icon-button
                  matSuffix>
            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>


      </article>
      <article class="sign-footer">
        <button (click)="btnCreateAccount(form)" class="btn-create-account" color="accent" mat-raised-button>Create
          Account
        </button>
        <a routerLink="/login">I already have an account?</a>
      </article>


    </form>

  </section>

</section>
