
#mat-header{
  position: relative;
}


.btn-sign-up{
  width: max-content;
  height: max-content;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.btn-create-account{
  color: #EC058E;
}

.example-full-width{
  width: 80%;
  margin: 0 10%;

}

.card-actions{
  margin: 0 10%;
}

.btn-login{
  background: #EC058E;
  color: white;
  width: 100px;
}

.container{
  width: 100%;
  height: calc(100vh - 130px);
  display: grid;
  place-items: center;
}
