<section id="header">
  <mat-toolbar color="accent" id="mat-header">
    <h3>Glingler Login Form</h3>
    <div class="btn-sign-up">
    <button color="primary" mat-button routerLink="/sign-up">Sign Up</button>
    </div>
  </mat-toolbar>
</section>

<div class="container">
<section style="width: 50%">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src="https://classeventie.classiebit.com//upload/users/images/1537003256339.png" alt="" width="100%">
      </div>
      <mat-card-title>Login Form</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form">
    <mat-card-content>

      <mat-form-field appearance="outline" class="example-full-width" color="accent">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="example@company.com" name="username" autocomplete="none">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline" class="example-full-width" color="accent">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" name="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions class="card-actions">
      <button mat-button class="btn-login" (click)="login()">Login</button>
    </mat-card-actions>
    </form>
  </mat-card>
</section>
</div>
