<section id="wrapper">

  <section id="header">
    <div class="dash-card-container">

      <div class="dash-card">
        <div class="dash-card-header">
          <div>
            <i class="fas fa-user-circle"></i>
          </div>
        </div>
        <div class="dash-card-body">
          <h4 class="mat-display-1">23.4k</h4>
          <p class="dash-detail">Total no of users</p>
        </div>
        <mat-divider></mat-divider>
        <div class="dash-card-footer">

          <div class="dash-card-foot">
            <div class="dash-card-foot-text">
            <p>Active</p>
            </div>
            <div class="dash-card-foot-progress">
              <mat-progress-bar color="primary" mode="determinate" value="40"></mat-progress-bar>
            </div>
          </div>
        </div>


      </div>

      <div class="dash-card">
        <div class="dash-card-header">
          <div>
            <i class="fas fa-circle-notch"></i>
          </div>
        </div>
        <div class="dash-card-body">
          <h4 class="mat-display-1">23.4k</h4>
          <p class="dash-detail">Total no of users</p>
        </div>
        <mat-divider></mat-divider>
        <div class="dash-card-footer">

          <div class="dash-card-foot">
            <div class="dash-card-foot-text">
              <p>Active</p>
            </div>
            <div class="dash-card-foot-progress">
              <mat-progress-bar color="primary" mode="determinate" value="40"></mat-progress-bar>
            </div>
          </div>
        </div>


      </div>

      <div class="dash-card">
        <div class="dash-card-header">
          <div>
            <i class="fas fa-heartbeat"></i>
          </div>
        </div>
        <div class="dash-card-body">
          <h4 class="mat-display-1">23.4k</h4>
          <p class="dash-detail">Total no of users</p>
        </div>
        <mat-divider></mat-divider>
        <div class="dash-card-footer">

          <div class="dash-card-foot">
            <div class="dash-card-foot-text">
              <p>Active</p>
            </div>
            <div class="dash-card-foot-progress">
              <mat-progress-bar color="primary" mode="determinate" value="40"></mat-progress-bar>
            </div>
          </div>
        </div>


      </div>

      <div class="dash-card">
        <div class="dash-card-header">
          <div>
            <i class="fas fa-fire"></i>
          </div>
        </div>
        <div class="dash-card-body">
          <h4 class="mat-display-1">23.4k</h4>
          <p class="dash-detail">Total no of users</p>
        </div>
        <mat-divider></mat-divider>
        <div class="dash-card-footer">

          <div class="dash-card-foot">
            <div class="dash-card-foot-text">
              <p>Active</p>
            </div>
            <div class="dash-card-foot-progress">
              <mat-progress-bar color="primary" mode="determinate" value="40"></mat-progress-bar>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section>


  <section id="content"></section>
  <section id="footer"></section>
</section>
