
#content-container {
  width: 100%;
  height: calc(100vh - 60px);

  position: relative;
  background-color: #f5f7fa;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 1240px;
  height: 100%;
  background: #fff;
  display: flex;
}

#side-profiles {
  width: 28%;
  min-width: 280px;
  height: 100%;
  box-shadow: 0 0 4px #878787;
  background-color: white;
  overflow: hidden;
}

.search-container{
  display: grid;
  place-items: center;
  /*background: #3f51b5;*/
  width: 100%;
  height: 100px;
}

.search-container mat-form-field{
  width: 90%;
}

input{
  font-family: 'Overpass', sans-serif;
}

.profiles-container{
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}

.profiles-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.profiles-container::-webkit-scrollbar-track {
  background-color: white;
}

.profiles-container::-webkit-scrollbar-thumb {
  background-color: #EC058E;
  border-radius: 10px;
}

.profile-card{
  background: white;
  box-shadow: 0 0 3px 0px #cccccc;

  width: 90%;
  min-width: 300px;
  height: 65px;
  margin: 5px auto;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}

.profile-card-img{
  width: 28%;
  height: 100%;
  display: grid;
  place-items: center;
}

.profile-pic {
  /*background: #EC058E;*/
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  align-items: center;

}

.profile-pic> img{

}

.profile-card-body{
  width: 72%;
  height: 100%;
  padding: 14px 0px;
}


.p-c-name{
  margin: 0;
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
}

.active-wrapper{
  display: flex;
  height: max-content;
  place-items: center;
}

.p-c-active{
  margin: 0 0 0 5px;
  font-size: 13px;
}

.active-status{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  /*background: #11FFBD;*/
  background: #6bbf59;
}

#chat-container{
  width: 72%;
  min-width: 600px;
  height: 100%;
  position: relative;
}

.chat-wrapper{
  width: 80%;
  height: 400px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 3px 0px #cccccc;
  border-radius: 8px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  overflow: hidden;
}

.chat-header{
  width: 100%;
  height: 10%;
  display: flex;
}

.chat-name{
  width: 50%;
  height: 100%;
  display: flex;
  place-items: center;
  padding: 0 20px;
}

.chat-name > p{
  font-size: 18px;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.chat-head {
  width: 50%;
  height: 100%;
}

.chat-body {
  width: 100%;
  height: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.chat-footer{
  width: 100%;
  height: 15%;
  display: flex;
}

.input-wrapper {
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;

  padding: 10px;
}

.chat-input {
  width: 100%;
}

.button-wrapper {
  width: 10%;
  height: 100%;
  /*background: red;*/
  display: grid;
  place-items: center;
}

.button-wrapper > button{
  min-width: 50px;
  min-height: 30px;
}

.button-wrapper > button i{
  font-size: 30px;
  color: #fff;
}

.msg{
  margin: 3px 0;
  position: relative;
  display: flex;
  transition: background-color .3s;
  border-radius: 10px 0 0 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2px 10px;
}

.my-msg {
  transition: background-color .3s;
  border-radius: 10px 0 0 10px;
}

.her-msg {
  transition: background-color .3s;
  border-radius: 0 10px 10px 0;
}

.my-msg:hover{
  background: rgba(63, 81, 181, 0.11);
}

.her-msg:hover{
  background: rgba(236, 5, 142, 0.11);
}

.my-msg  .color-bar {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 2px;
  border-radius: 4px;
  background: #3f51b5;
}

.her-msg  .color-bar {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 2px;
  border-radius: 4px;
  background: #EC058E;
}

.chat-msg {
  /*width: 80%;*/
  margin-left: 10px;
}

.chat-msg p{
  margin: 0 2px;
  font-family: 'Roboto', sans-serif;
}

.chat-body::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.chat-body::-webkit-scrollbar-track {
  background-color: white;
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: #EC058E;
  border-radius: 10px;
}

.chat-time {
  font-size: 12px;
  color: #afafaf;
  margin: 0;
}
