<section id="content-container">
  <section id="content">
    <section id="side-profiles">
      <div class="search-container">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Search</mat-label>
          <input matInput>
          <mat-icon matSuffix>person_search</mat-icon>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="profiles-container">
        <ng-container *ngFor="let profile of profiles">
          <div class="profile-card" mat-ripple (click)="profileCardClickEvent(profile)">
            <div class="profile-card-img">
              <div class="profile-pic">
                <mat-progress-spinner
                  *ngIf="!profile.isImageLoaded"
                  [color]="'accent'"
                  [diameter]="30"
                  [mode]="'indeterminate'">
                </mat-progress-spinner>
                <img alt="" src="{{profile.imageUrl}}"
                     (load)="profile.isImageLoaded=true" width="100%">
              </div>
            </div>
            <div class="profile-card-body">
              <p class="p-c-name">{{profile.firstName + " " + profile.lastName}}</p>
              <div *ngIf="profile.isActive" class="active-wrapper">
                <div class="active-status"></div>
                <p class="p-c-active">Active</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>

    <section id="chat-container">
      <div class="chat-wrapper">
        <div class="chat-header">
          <div class="chat-name"><p>{{activeChat.firstName + " " + activeChat.lastName}}</p></div>
          <div class="chat-head"></div>
        </div>
        <mat-divider></mat-divider>

        <div #scrollMe class="chat-body">
          <ng-container *ngFor="let chat of chats">
            <div *ngIf="chat.sendProfileId===profileId" class="msg my-msg">
              <div class="color-bar"></div>
              <p class="chat-time">{{ chat.createdTime | date:'shortTime' }}</p>
              <div class="chat-msg">
                <p>{{chat.message}}</p>
              </div>
            </div>
            <div *ngIf="chat.sendProfileId!==profileId" class="msg her-msg">
              <div class="color-bar"></div>
              <div class="chat-msg">
                <p>{{chat.message}}</p>
              </div>
              <p class="chat-time">{{ chat.createdTime | date:'shortTime' }}</p>
            </div>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
        <div class="chat-footer">
          <div class="input-wrapper">
            <mat-form-field class="chat-input" color="accent">
              <mat-label>Message</mat-label>
              <input #message (keydown)="inputKeyEvent($event)" autocomplete="off" matInput maxlength="256"
                     placeholder="Type something here...">
            </mat-form-field>
          </div>
          <div class="button-wrapper">
            <button (click)="btnSendClickEvent()" color="accent" mat-raised-button>
              <i class="fab fa-telegram-plane"></i>
            </button>
          </div>

        </div>
      </div>
    </section>

  </section>
</section>
