<link rel="stylesheet" href="https://storiesjs.com/dist/demo.css?v=00009">

<section>

  <div class="notification-card" *ngIf="notificationMsg.length > 0">
    <div>{{notificationMsg}}</div>
    <div matRipple
         [matRippleCentered]="true"
         [matRippleUnbounded]="false" class="notification-card-close-btn">
      <mat-icon>close</mat-icon>
    </div>
  </div>


  <section id="story-container">
    <section class="story-wrapper">
    <div class="thumbwrapper"></div>
      <div class="story-box">
        <div class="story">
          <div class="story-inner">
            <img src="https://i.pinimg.com/originals/d0/f4/fc/d0f4fc818a35285642ba057436fc8720.jpg" alt="" width="100%">
          </div>
        </div>
        <p class="story-username">ileana_offi..</p>
      </div>
      <div class="story-box">
        <div class="story">
          <div class="story-inner">
            <img src="https://i.pinimg.com/originals/d0/f4/fc/d0f4fc818a35285642ba057436fc8720.jpg" alt="" width="100%">
          </div>
        </div>
      </div>

    </section>
  </section>

  <section class="content-container">
    <section class="content">
    <section class="content-header">
      <h1>ACTIVITY</h1>
    </section>
    <section class="content-body">




    </section>
    </section>
  </section>
</section>

<script src="assets/storiesjs/myScript.js"></script>
<script src="assets/storiesjs/storiesjs.min.js"></script>
