<section id="content-container">
  <section id="content">
    <section id="side-profile">
      <app-profile-side-nav></app-profile-side-nav>
    </section>


    <section id="feed-container">

      <section id="feed">

        <div *ngIf="notificationMsg.length > 0" [@inOutAnimation] class="notification-card">
          <div>{{notificationMsg}}</div>
          <div matRipple
               [matRippleCentered]="true"
               (click)="notificationMsg=''" [matRippleUnbounded]="false"
               class="notification-card-close-btn">
            <mat-icon>close</mat-icon>
          </div>
        </div>


        <section *ngIf="showStories" [@inOutAnimation] id="story-container">
          <section class="story-wrapper">
            <div class="thumbwrapper"></div>
            <div class="story-box">
              <div class="story">
                <div class="story-inner">
                  <img alt="" src="https://i.pinimg.com/originals/d0/f4/fc/d0f4fc818a35285642ba057436fc8720.jpg"
                       width="100%">
                </div>
              </div>
              <p class="story-username">ileana_offi..</p>
            </div>
            <div class="story-box">
              <div class="story">
                <div class="story-inner">
                  <img alt="" src="https://i.pinimg.com/originals/d0/f4/fc/d0f4fc818a35285642ba057436fc8720.jpg"
                       width="100%">
                </div>
              </div>
            </div>

          </section>
        </section>
        <section class="match-profile-container">
          <div class="match-profile-card">
            <div class="match-card-body">
              <img
                alt=""
                height="100%" src="https://www.inspirationde.com/media/2016/02/forbidden-planet-1456649354k48ng.jpg"
                width="100%">
            </div>
            <div class="match-card-footer">
              <div class="match-card-btn">
                <button (click)="btnLikeClickEvent()" [matRippleColor]="btnRippleColor" matRipple type="button">
                  <i class="far fa-grin-hearts"></i>
                </button>
              </div>
              <div class="match-card-btn">
                <button type="button" matRipple [matRippleColor]="btnRippleColor" (click)="btnSuperLikeClickEvent()">
                  <i class="fas fa-fire-alt"></i>
                </button>
              </div>
              <div class="match-card-btn">
                <button type="button" matRipple [matRippleColor]="btnRippleColor" (click)="btnRejectClickEvent()">
                  <i class="fas fa-heart-broken"></i>
                </button>
              </div>
            </div>
          </div>
        </section>
      </section>


    </section>


  </section>
</section>


